.wrapper {
    width: 700px;

}

.error {
    margin-top: 20px;
    height: 20px;
    width: 100%;
    padding: 7px 0;
    color: #fff;
    background-color: #0176FF;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}




.user-form{
	max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Montserrat, sans-serif;
}

.user-form ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.user-form li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;

}

.user-form li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
	font-family: Montserrat, sans-serif;
}
.user-form input[type="text"],
.user-form input[type="date"],
.user-form input[type="datetime"],
.user-form input[type="email"],
.user-form input[type="number"],
.user-form input[type="search"],
.user-form input[type="time"],
.user-form input[type="url"],
.user-form input[type="password"],
.user-form input[type="tel"],
.user-form textarea,
.user-form select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 35px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Montserrat, sans-serif;
}

.user-form li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.user-form textarea{
    height: 70px;
	resize:none;
}
.button
{
    width: 100px;
    margin-right: 20px;
    border: none;
    background: white;
    color: #404040;
    border-bottom: 5px solid #0176FF;

    text-transform: uppercase;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
    border-bottom: 5px solid #2196F3;
    transition: 0.3s;

    &:hover {
        background: #0176FF;
        color: white;
        border-bottom: 5px solid #2196F3;
    }
}

