<div class="wrapper" *ngIf="users">
  <button class="new-user-btn" routerLink="/add_user">Create new user</button>

  <table>
    <thead>
      <tr class="head-row">
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>EMAIL</th>
      </tr>
    </thead>
    <tbody>
      <tr class="user" *ngFor="let user of users.result">
        <img class="avatar-img" [src]="user._links.avatar.href" />
        <td class="user-name">{{ user.first_name }}</td>
        <td class="user-lastname">{{ user.last_name }}</td>
        <td class="user-mail">{{ user.email }}</td>
        <div class="buttons">
          <button class="btn-view" routerLink="/users/{{ user.id }}">View</button>
          <button class="btn-edit" routerLink="/users/edit/{{ user.id }}">Edit</button>
          <button class="btn-del" (click)="delete($event, user.id)">Delete</button>


        </div>
        <div class="buttons-small">
          <button class="btn-view" routerLink="/users/{{ user.id }}">V</button>
          <button class="btn-edit" routerLink="/users/edit/{{ user.id }}">E</button>
          <button class="btn-del" (click)="delete($event, user.id)">D</button>
        </div>

      </tr>
    </tbody>
  </table>

  <button *ngIf="page > 1" class="new-user-btn" (click)="displayPage('prev')">
    Previous page
  </button>
  <span>{{ page }}</span>
  <button class="new-user-btn" (click)="displayPage('next')">Next page</button>
</div>
