<div class="wrapper" *ngIf="users">
  <button class="new-user-btn" routerLink="/add_user">Create new user</button>

  <table>
    <thead>
      <tr class="head-row">
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>EMAIL</th>
      </tr>
    </thead>
    <tbody>
      <tr class="user" *ngFor="let user of users.result">
        <img class="avatar-img" [src]="user._links.avatar.href" />
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <button routerLink="/users/{{ user.id }}">View</button>
        <button routerLink="/users/edit/{{ user.id }}">Edit</button>
        <button (click)="delete($event, user.id)">Delete</button>
      </tr>
    </tbody>
  </table>

  <button *ngIf="page > 1" class="new-user-btn" (click)="displayPage('prev')">
    Previous page
  </button>
  <span>{{ page }}</span>
  <button class="new-user-btn" (click)="displayPage('next')">Next page</button>
</div>
