<div class="wrapper">
  <form class="post-form" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <ul>
      <li>
        <label>
          Title
        </label>
        <input type="text" formControlName="title" autofocus />
        <div *ngIf="submitted && postForm.controls.title.errors" class="error">
          <div *ngIf="postForm.controls.title.errors.required">
            The title is required
          </div>
        </div>
      </li>

      <li>
        <label>
          Body
        </label>
        <textarea formControlName="body"></textarea>
        <div *ngIf="submitted && postForm.controls.body.errors" class="error">
          <div *ngIf="postForm.controls.body.errors.required">
            Post body is required
          </div>
        </div>
      </li>
      <ng-select
        [items]="users"
        bindLabel="first_name"
        [virtualScroll]="true"
        bindValue="id"
        appendTo="body"
        placeholder="Chose user"
        (search)="search($event)"
        formControlName="id"
      >
      </ng-select>

      <input type="submit" value="Send post" />
    </ul>
  </form>
</div>
