<div class="wrapper">
  <form class="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ul>
      <li>
      <label class="user-label" for="first_name">
        First Name:
      </label>
      <input
        class="user-input"
        type="text"
        formControlName="first_name"
        autofocus
      />
      <span>Enter your first name here</span>
      

      <div
        *ngIf="submitted && userForm.controls.first_name.errors"
        class="error"
      >
        <div *ngIf="userForm.controls.first_name.errors.required">
          User first name is required
        </div>
      </div>
    </li>
    <li>
      <label class="user-label" for="last_name">
        Last Name:
      </label>
      <input class="user-input" type="text" formControlName="last_name" />
      <span>Enter your last name here</span>
      <div
        *ngIf="submitted && userForm.controls.last_name.errors"
        class="error"
        last
      >
        <div *ngIf="userForm.controls.last_name.errors.required">
          User last name is required
        </div>
      </div>
      
    </li>
    <li>
      <label class="user-label" for="email">
        Email:
      </label>
      <input class="user-input" type="email" formControlName="email" />
      <span>Enter a valid email address</span>
      <div
        *ngIf="submitted && userForm.controls.email.errors"
        class="error"
        last
      >
        <div *ngIf="userForm.controls.email.errors.required">
          User email is required
        </div>
      </div>
    </li>
    <li>
      <label class="user-label" for="phone">
        Phone:
      </label>
      <input class="user-input" type="tel" formControlName="phone" />
      <span>Type in your phone number</span>
      <div
        *ngIf="submitted && userForm.controls.phone.errors"
        class="error"
        last
      >
        <div *ngIf="userForm.controls.phone.errors.required">
          User phone number is required
        </div>
      </div>
    </li>
    <li>
      <label class="user-label" for="address">
        Adress:
      </label>
      <textarea class="user-area" formControlName="address"></textarea>
      <span>Provide your address</span>
      <div *ngIf="submitted && userForm.controls.address.errors" class="error">
        <div *ngIf="userForm.controls.address.errors.required">
          An adress is required
        </div>
      </div>
    </li>
      <input type="submit" value="Send user" class="button" />
    </ul>
  </form>
</div>
