header {
    background: #0176FF;

    .logo {
        font-weight: bold;
    }

    @media (min-width: 760px) {
        .container {
            width: 760px;
            display: flex;
            flex-direction: row;
        }

        .menu-btn {
            display: none;
        }

        .logo {

        }

        nav {
            width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;
                    transition: 0.5s;

                    &:hover {
                        background: #2196F3;
                    }
                }
            }
    }

    }
}
    
}


@media (max-width: 760px) { 
    header {
        width: 100vw;
        
    }

    nav {
        width: 100%;
        padding: 5px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    .logo {
        align-self: center;
        text-align: center;
    }

    .menu {
        display:none;
        transition: max-height .2s ease-out;   
        width: 100%;     
    }

    li {
        width: 100%;
        padding: 5px;



        a:hover {
            color: #333;
        }
    }



    

    .header .menu-btn {
        display: none;

      }
      
      .header .menu-btn:checked ~ .menu {

        display: flex;
        flex-direction: column;  
      }
      
      .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
      }
      
      .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
      }
      
      .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
      }
      
      .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
      .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }

      .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
      }
      
      .header .menu-icon .navicon {
        background: #fff;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
      }
      
      .header .menu-icon .navicon:before,
      .header .menu-icon .navicon:after {
        background: #fff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      
      .header .menu-icon .navicon:before {
        top: 5px;
      }
      
      .header .menu-icon .navicon:after {
        top: -5px;
      }


.header ul {
    margin: 5px;
    padding: 0;

    list-style: none;
    overflow: hidden;

  }

  .header {
    z-index: 3;
  }
    
 }