.posts-container{
    display: flex;
    flex-direction: column;

    width: 760px;

}

.post {
    color: #404040;
    display:flex;
    flex-direction: column;
    margin-bottom: 30px;
    
}




.post-title {
    cursor: pointer;
}

.post-body {
    font-family: merriweather,serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
    
}

h1 {
    font-family: Montserrat,sans-serif;
    font-style: normal;
    line-height: 1;
    font-weight: 800;
    font-size: 48px;
    margin: 0;

    &:hover {
        color: #0176FF;
    }
    
}



.button {
    margin-bottom: 30px;
    
    border: none;
    

    background: white;
    color: #404040;
    border-bottom: 5px solid #0176FF;

    text-transform: uppercase;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
    border-bottom: 5px solid #2196F3;
    transition: 0.3s;

    &:hover {
        background: #0176FF;
        color: white;
        border-bottom: 5px solid #2196F3;
    }
}

.read-more {
    margin-top: -10px;
    width: 150px;
    align-self: flex-end;
}

@media (max-width: 760px) { 
    .wrapper {
        width: 100%;
    }

    .posts-container {
        width: 100%;
    }

    h1 {
        font-size: 32px;
    }

    .post-body {
        font-size: 14px;
    }
}