<div class="wrapper" *ngIf="posts">
  <button class="button" routerLink="/add_post">Create Post</button>
  <div class="posts-container">
    <div class="post" *ngFor="let post of posts">
      <h1 class="post-title" routerLink="/posts/{{ post.id }}">{{ post.title }}</h1>
      <span class="post-body">{{ limitPostBody(post.body) }}</span>
      <button class="button read-more" routerLink="/posts/{{ post.id }}">
        Read more
      </button>
    </div>
  </div>
  <button *ngIf="page<allPages"class="button" (click)="loadMore()">
    Load more
  </button>
</div>
