<div class="wrapper" *ngIf="user">
    <div class="user-container" *ngIf="user">
      <ul>
        <li>
          <span>First Name: </span>
          <p>{{ user.first_name }}</p>
        </li>
        <li>
          <span>Last Name: </span>
          <p>{{ user.last_name }}</p>
        </li>
        <li>
          <span>Email: </span>
          <p>{{ user.email }}</p>
        </li>
        <li>
          <span>Phone: </span>
          <p>{{ user.phone }}</p>
        </li>
        <li class="address">
          <span>Address: </span>
          <p >{{ user.address }}</p>
        </li>
      </ul>
    </div>
    <div class="posts-container">
      <div class="posts-info">
        <span class="wide-span">Create Post</span>
        <form class="post-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <ul>
            <li>
              <label>Title</label>
              <input type="text" formControlName="title" />
              <div *ngIf="submitted && userForm.controls.title.errors" class="error">
                  <div *ngIf="userForm.controls.title.errors.required">
                    The title is required
                  </div>
                </div>
            </li>

            <li>
              <label>Body</label> <textarea formControlName="body"></textarea>
              <div *ngIf="submitted && userForm.controls.body.errors" class="error">
                  <div *ngIf="userForm.controls.body.errors.required">
                    Post body is required
                  </div>
                </div>
            </li>

            <input type="submit" value="SAVE" class="button" />
          </ul>
        </form>
      </div>

      <div class="posts-list" *ngIf="posts">
        <div class="post" *ngFor="let post of posts.result; index as i">
          <span class="post-id">Post #{{ i + 1 }}</span>
          <h4 class="post-title" routerLink="/posts/{{ post.id }}">{{ post.title }}</h4>
          <span class="post-body">{{ post.body }}</span>
        </div>
      </div>
    </div>
</div>
